.p-info-block {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 30px;
}

.p-info-block .info-block-image {
    max-width: 250px;
}

.p-info-block .info-block-description {
    display: flex;
    flex-direction: column;
}

@media (max-width: 425px) {
    .p-info-block {
        grid-template-columns: 1fr;
    }

    .p-info-block .info-block-image {
        margin: auto;
    }
}