.product-grid {
    margin: 2em 0;
    display: grid;
    column-gap: 40px;
    row-gap: 20px;
}

.product-card {
    max-width: 265px;
}

.card-preview {
    text-decoration: none;
    margin-bottom: 2em;
}

.gr-5 {
    justify-content: space-between;
    grid-template-columns: repeat(5, auto);
}

.gr-4 {
    justify-content: space-evenly;
    grid-template-columns: repeat(4, auto);
}

.gr-3 {
    justify-content: space-evenly;
    grid-template-columns: repeat(3, auto);
}

.gr-2 {
    justify-content: center;
    grid-template-columns: repeat(2, auto);
}

.gr-1 {
    justify-content: center;
    grid-template-columns: repeat(1, auto);
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
}

.product-card p {
    color: #484848;
    margin: 0;
}

.product-card div {
    width: inherit;
}

.product-card img {
    width: inherit;
    max-height: 200px; /*height: 200px;*/
}

.product-card hr {
    margin-top: 0;
}

.product-card .product-card-title {
    padding: 1em 0;
    color: #484848;
}

.product-card .product-card-title p {
    font-family: Inter;
    font-size: 20px;
    line-height: 27px;
}

.product-card .p-card-image img {

}

@media (min-width: 1025px) {
    .card-file-mobile {
        display: none;
    }
}

@media (max-width: 1440px) {
    .gr-5 {
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 1280px) {
    .gr-5, .gr-4 {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 1024px) {
    .card-file-desktop {
        display: none;
    }
}

@media (max-width: 768px) {
    .gr-5, .gr-4, .gr-3 {
        justify-content: center;
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 576px) {
    .product-card {
        width: 245px;
    }
}

@media (max-width: 425px) {
    .gr-5, .gr-4, .gr-3, .gr-2 {
        grid-template-columns: 1fr;
    }

    .gr-5 .product-card,
    .gr-4 .product-card,
    .gr-3 .product-card,
    .gr-2 .product-card,
    .gr-1 .product-card {
        width: unset;
    }

    .gr-5 .card-preview,
    .gr-4 .product-card,
    .gr-3 .product-card,
    .gr-2 .product-card,
    .gr-1 .product-card {
        margin: auto;
    }

    .product-card .p-card-image {
        max-width: 280px;
    }
}

@media (max-width: 375px) {
    .p-category-block .block-image {
        float: unset;
        margin: auto;
        width: 100%;
    }

    .p-category-block .block-image img {
        max-width: 280px;
    }
}
